$card-maxHeigth: 210px;

.card-container {
    width: 100%;
}
.Card {
    border-radius: 10px;
    display: grid;
    grid-template: "container";
    place-items: center;
    //place-content: center;
    overflow: hidden;
    max-height: $card-maxHeigth;

    & > * {
        grid-area: container;
    }
    .card-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 16 / 9;
        //object-position: 50% 20%;
        position: relative;
        max-height: $card-maxHeigth;
    }
    .brightness {
        position: relative;
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(0.75);
    }
    .title {
        position: relative;
        place-self: center end;
        padding: 0 20px;
    }
    .card-description {
        position: relative;
        visibility: hidden;
        place-self: start;
        opacity: 0;
        width: 100%;
        height: 100%;
        max-height: $card-maxHeigth;
        transition: opacity 0.2s ease-out;
        &>div {
            height: 110px;
            overflow-y: auto;
        }
    }

    .card-top {
        position: relative;
        place-self: start;
        transition: opacity 0.2s ease-out;

        &.j-end {
            place-self: start end;
        }
    }

    .card-bottom {
        position: relative;
        width: 100%;
        place-self: end start;
        opacity: 90%;
        transition: opacity 0.2s ease-out;
    }

    .friends-items {
        .friends-img {
            position: relative;
        }
    }

    .user-time {
        p {
            font-size: 0.7rem !important;
        }
    }

}


@media (hover: hover) and (pointer: fine) {
    .Card {
        .brightness:hover~.card-description,
        .card-description:hover{
            visibility: visible;
            opacity: 1;
        }
        .card-description:hover~.card-top,
        .card-description:hover~.card-bottom{ 
            opacity: 0;
        }
    }
}

@media  screen and (max-width: "550px") {
    .Card {
        .user-time {
            width: 56px;
            p {
                font-size: 0.5rem !important;
            }
        }
    }
}

/* CARD LOADER */
.card-loader {
    width: 100%;
    height: 100%;
    &>div {
        width: 100%;
        max-height: $card-maxHeigth;
    }
}